.clock {
  position: relative;
  width: min(20em, 100%);
  aspect-ratio: 1 / 1;
  margin-inline: auto;
  font-size: min(16px, 5vw);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: 2px solid #000000;
  overflow: hidden;
}

.clock .number {
  --angle: 0;
  z-index: 1;
  position: absolute;
  inset: 0.5em;
  text-align: center;
  transform: rotate(calc(var(--angle) * 1deg));
}

.clock .number-1 {
  --angle: 30;
}

.clock .number-2 {
  --angle: 60;
}

.clock .number-3 {
  --angle: 90;
}

.clock .number-4 {
  --angle: 120;
}

.clock .number-5 {
  --angle: 150;
}

.clock .number-6 {
  --angle: 180;
}

.clock .number-7 {
  --angle: 210;
}

.clock .number-8 {
  --angle: 240;
}

.clock .number-9 {
  --angle: 270;
}

.clock .number-10 {
  --angle: 300;
}

.clock .number-11 {
  --angle: 330;
}

.clock .hand {
  --angle: 0;
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: 50%;
  background: #000000;
  border: 1px solid #ffffff;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
  transform: translateX(-50%) rotate(calc(var(--angle) * 1deg));
  transform-origin: 50% 100%;
}

.clock .hand.second {
  --angle: 30;
  width: 0.2em;
  height: calc(50% - 0.8em);
  background: red;
}

.clock .hand.minute {
  --angle: 60;
  width: 0.4em;
  height: calc(50% - 1em);
}

.clock .hand.hour {
  --angle: 90;
  width: 0.6em;
  height: calc(50% - 1.2em);
}

.clock::after {
  position: absolute;
  z-index: 10;
  inset: 0;
  width: min(7%, 1.5em);
  aspect-ratio: 1 / 1;
  margin: auto;
  background: #000000;
  border-radius: 50%;
  content: '';
}
